.spaceinfo-icon-pencil:hover {
    background-color: gray;
}

.spaceinfo {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.spaceinfo-container {
    display: flex;
    width: auto;
}

.spaceinfo-container-basic {
    display: flex;

}

.spaceinfo-image {
    display: flex;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.spaceinfo-container-image {
    display: flex;
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 40%;
    justify-content: center;
    align-items: center;
}

.spaceinfo-basic {
    display: flex;
    position: relative;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.spaceinfo-container-explain {
    display: flex;
}

.spaceinfo-container-similar {
    display: flex;
}

.spaceinfo-title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    font-size: 3.5rem;
}

.spaceinfo-tags {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.spaceinfo-isperiodic {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    justify-content: flex-start;
}

.spaceinfo-price {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
    align-items: center;
}

.spaceinfo-category {
    display: flex;
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.spaceinfo-address {
    display: flex;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: rgb(56, 56, 56);
    margin-bottom: 0.5rem;
}

.spaceinfo-map {
    border: 5px solid gray;
    border-radius: 40px;
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    justify-content: center;
    align-items: center;
}

.spaceinfo-icon-pencil {
    display: flex;
    border-radius: 10px;
    padding: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
}

.spaceinfo-card-container-periodic {
    display: flex;
    box-sizing: border-box;
    height: 3.5rem;
    align-items: center;
    justify-content: start;
    margin-left: 3%;
    margin-right: 3%;
}

.spaceinfo-card-periodic {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    color: red;
    justify-content: center;
    border-radius: 20px;
    height: 3.5rem;
    width: 4.3rem;
    align-items: center;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.spaceinfo-card-not-periodic {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    color: red;
    justify-content: center;
    border-radius: 20px;
    height: 3.5rem;
    width: 4.3rem;
    align-items: center;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%
}

.spaceinfo-card-container-days {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 3.5rem;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

.spaceinfo-card-days-white {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    color: red;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.spaceinfo-card-days-red {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    background-color: red;
    color: white;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.spaceinfo-card-date {
    display: flex;
    color: red;
    height: auto;
    width: max-content;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
}





.space-container-related {
    display: flex;
    justify-content: center;
}

.space-related-title {
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    justify-content: center;
    margin-top: 100px;
}

.space-body {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}

.space-profile {
    display: flex;
    gap: 20px;
}

.space-profile-image {
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 100%;
}

.space-profile-name {
    display: flex;
    font-weight: 600;
    font-size: 3rem;
    align-items: center;
}

.space-body-text {
    display: flex;
    font-size: 1.7rem;
    padding-top: 2%;

}

.space-address {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 3%;
}