.space {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    flex-flow: wrap;
}

.space-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 25rem;
    height: 28rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 19px 20px 4px #000000;
    transition: 800ms;
    cursor: pointer;
}

.space-card-image {
    display: flex;
    box-sizing: border-box;
    height: 17.5rem;
    width: inherit;
    background-color: rgb(220, 220, 220);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    object-fit: cover;
}

.space-container-price {
    display: flex;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    height: 17.5rem;
    justify-content: flex-end;
    align-items: flex-end;
    width: inherit;
    z-index: 50;
}

.space-price {
    background-color: rgba(125, 125, 125, 0.884);
    display: flex;
    box-sizing: border-box;
    height: 2rem;
    justify-content: center;
    align-items: center;
    width: 11rem;
    position: absolute;
    padding: 0.8%;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.space-status-red {
    position: absolute;
    padding: 1%;
    font-size: 1.5rem;
    font-weight: 800;
    color: red;
}

.space-status-gray {
    position: absolute;
    padding: 1%;
    font-size: 1.5rem;
    font-weight: 800;
    color: gray;
}

.space-card-title {
    display: flex;
    box-sizing: border-box;
    height: 3rem;
    width: inherit;
    justify-content: left;
    align-items: start;
    font-size: 1.7rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    font-weight: 700;
}

.space-card-tags {
    display: flex;
    box-sizing: border-box;
    height: 2rem;
    width: inherit;
    justify-content: left;
    align-items: start;
    font-size: 1rem;
    color: rgb(65, 65, 65);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.space-card-container-periodic {
    display: flex;
    box-sizing: border-box;
    height: 2.5rem;
    align-items: center;
    justify-content: start;
    margin-left: 3%;
    margin-right: 3%;
}

.space-card-periodic {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    color: red;
    justify-content: center;
    border-radius: 20px;
    height: 2.5rem;
    width: 4.3rem;
    align-items: center;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.space-card-not-periodic {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    color: red;
    justify-content: center;
    border-radius: 20px;
    height: 2.5rem;
    width: 4.3rem;
    align-items: center;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.space-card-container-days {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 2.5rem;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    margin-left: 2%;
}

.space-card-days-white {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    color: red;
    justify-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    align-items: center;
    font-size: 0.9rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.space-card-days-red {
    display: flex;
    box-sizing: border-box;
    border: 3px solid red;
    background-color: red;
    color: white;
    justify-content: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    align-items: center;
    font-size: 0.9rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.space-card-date {
    display: flex;
    color: red;
    justify-content: center;
    height: 2rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    padding-left: 2%;
}

.space-card-container-time-writer {
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.3rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.space-card-time {
    display: flex;
    font-style: italic;
    font-weight: 600;
}

.space-card-writer {
    display: flex;
    font-weight: 600;
}

@media (max-width: 1100px) {   
    .space{
        margin-top: 70px;
    }
    .space-card {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
        width: 150px;
        height: 190px;
        border-radius: 10px;
        box-shadow: 2px 12px 12px 3px #000000;
    }
    .space-card-image {
        height: 110px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .space-container-price {
        height: 110px;
        z-index: 50;
    }
    
    .space-price {
        height: 20px;
        width: 77px;
        font-size: 7px;
    }
    
    .space-status-red {
        padding: 2%;
        font-size: 12px;
    }
    
    .space-status-gray {
        padding: 2%;
        font-size: 12px;
    }
    
    .space-card-title {
        height: 21px;
        font-size: 14px;
    }
    
    .space-card-tags {
        height: 14px;
        font-size: 7px;
    }
    
    .space-card-container-periodic {
        height: 18px;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    
    .space-card-periodic {
        display: none;
    }
    
    .space-card-not-periodic {
        display: none;
    }
    
    .space-card-container-days {
        height: 17px;
    }
    
    .space-card-days-white {
        border: 1px solid red;
        height: 14px;
        width: 14px;
        font-size: 6px;
        padding: 6%;
    }
    
    .space-card-days-red {
        border: 1px solid red;
        height: 14px;
        width: 14px;
        font-size: 6px;
        padding: 6%;
    }
    
    .space-card-date {
        justify-content: start;
        height: 14px;
        width: 150px;
        font-size: 8px;
        padding-left: 0%;
    }
    
    .space-card-container-time-writer {
        height: 16px;
        font-size: 9px;
    }
}