.user {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 10rem;
}

.user-container-profile {
    display: flex;
    width: 30%;
    justify-content: center;
    gap: 70px;
}

.user-image-profile {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.user-container-image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.user-button-image {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 3%;
    padding-bottom: 3%;
    outline: none;
    border: 3px solid black;
    border-radius: 25px;
}

.user-button-image:hover {
    cursor: pointer;
    border-color: red;
}

.user-profile-name {
    font-size: 2.4rem;
    font-weight: 600;

}

.user-image-star {
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    justify-content: center;
    align-items: center;
}

.user-profile-rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;
    gap: 10px;
}

.user-profile-rate-count {
    display: flex;
    font-size: 1.4rem;
    color: gray;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.user-profile-email {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
}

.user-profile-body {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 200px;
    border-left: 10px solid black;
    overflow-y: hidden;
    padding: 2%;
}

.user-profile-without-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-container-review-favorite {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.user-container-category {
    display: flex;
    justify-content: center;
    gap: 300px;
    width: 70%;
}

.user-category {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: gray;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.user-category-clicked {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 5px solid black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.user-category:hover {
    cursor: pointer;
    color: black;
}

.user-container-favorites {
    display: flex;
    width: 70%;
    justify-content: center;
}

.user-container-reviews {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.user-review {
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 3px solid gray;
    padding: 2%;
    align-items: center;
    border-radius: 40px;
}

.user-review-writer {
    display: flex;
    font-size: 1.7rem;
    font-weight: 600;
    align-items: center;
    padding-right: 5%;
}

.user-container-review-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-container-review-topleft {
    display: flex;
    align-items: center;
    width: inherit;
}

.user-container-review-topright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
}

.user-review-date {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    font-style: italic;
    color: gray;
}

.user-review-review {
    display: flex;
    /* border: 2px solid black; */
    padding-top: 1%;
}