.flippedClock {
    display: flex;
    font-size: 2rem;
    margin-bottom: 1rem;
    gap: 3px;
}

.flippedClock-small {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 3px;
}

.flippedClock-time {
    display: flex;
    border: 2px solid black;
    color: white;
    border-radius: 8px;
    padding: 1%;
    width: 28px;
    justify-content: center;
    background-color: black;
}