.price-container-input {
    display: flex;
    flex-direction: column;
}

.price-container-input-time {
    display: flex;
    padding-bottom: 15px;
}

.price-calc {
    display: flex;
    border-radius: 15px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}