global
        log     127.0.0.1 local2

defaults
        log global
        mode tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s

listen stats
        bind  *:9000
        mode  http
        stats enable
        stats uri /haproxy_stats
        stats auth admin:admin

listen  web
        bind  *:2379
        mode  tcp
        balance roundrobin
        option  tcp-check
        server  node1  111.0.0.2:2379  check
        server  node2  111.0.0.3:2379  check
        server  node3  111.0.0.4:2379  check
